.w3-2021-marigold {
  color: #fff !important;
  background-color: #fdac53 !important;
}
.w3-2021-cerulean {
  color: #000 !important;
  background-color: #9bb7d4 !important;
}
.w3-2021-rust {
  color: #fff !important;
  background-color: #b55a30 !important;
}
.w3-2021-illuminating {
  color: #000 !important;
  background-color: #f5df4d !important;
}
.w3-2021-french-blue {
  color: #fff !important;
  background-color: #0072b5 !important;
}
.w3-2021-green-ash {
  color: #000 !important;
  background-color: #a0daa9 !important;
}
.w3-2021-burnt-coral {
  color: #fff !important;
  background-color: #e9897e !important;
}
.w3-2021-mint {
  color: #fff !important;
  background-color: #00a170 !important;
}
.w3-2021-amethyst-orchid {
  color: #fff !important;
  background-color: #926aa6 !important;
}
.w3-2021-raspberry-sorbet {
  color: #fff !important;
  background-color: #d2386c !important;
}
.w3-2021-inkwell {
  color: #fff !important;
  background-color: #363945 !important;
}
.w3-2021-ultimate-gray {
  color: #fff !important;
  background-color: #939597 !important;
}
.w3-2021-buttercream {
  color: #000 !important;
  background-color: #efe1ce !important;
}
.w3-2021-desert-mist {
  color: #000 !important;
  background-color: #e0b589 !important;
}
.w3-2021-willow {
  color: #fff !important;
  background-color: #9a8b4f !important;
}
